services:
  app_proxy:
   environment:
     # The format here is: <app-id>_<docker-service-name>_1
     APP_HOST: simon-tlsu_frontend_1
     APP_PORT: 80
    
  traefik:
    image: ghcr.io/simonhaas/tlsu/traefik:main
    command:
      - --log.level=DEBUG
      - --api.insecure=true
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entryPoints.websecure.http.tls=true
      - --providers.docker=true
      - --providers.docker.exposedByDefault=false
      - --providers.file.directory=/etc/traefik/dynamic
      - --providers.file.watch=true
      - --entryPoints.web.address=:80
      - --experimental.localPlugins.umbrel.modulename=github.com/simonhaas/umbrel
      - --providers.plugin.umbrel.pollInterval.pollInterval=4s
    ports:
      #- $TRAEFIK_HTTP_PORT:80
      - 443:443
      - 8084:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${APP_DATA_DIR}/certs:/certs:ro
      - ${APP_DATA_DIR}/dynamic/enabled:/etc/traefik/dynamic:ro # TODO only for testing, should not be mounted in production
      #- ${APP_DATA_DIR}/plugins-local:/plugins-local:ro # plugin should be baked into the image
    labels:
      traefik.enable: true
      traefik.http.routers.dashboard.rule: Host(`tlsu.tlsu.site`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
      traefik.http.routers.dashboard.entrypoints: websecure
      traefik.http.routers.dashboard.service: api@internal
      traefik.http.routers.dashboard.tls: true
      traefik.http.routers.dashboard.middlewares: cors
      traefik.http.middlewares.cors.headers.accesscontrolalloworiginlist: '*'
      traefik.http.middlewares.cors.headers.accesscontrolallowmethods: GET
      traefik.http.middlewares.cors.headers.accesscontrolallowheaders: '*'
    restart: unless-stopped

  umbrel-auth:
    image: ghcr.io/simonhaas/tlsu/umbrel-auth:main
    #build: 
    #  context: ./umbrel/containers/app-auth
    #  dockerfile: Dockerfile.dev
    #volumes:
    #  - ${PROJECT_DIR}/umbrel/containers/app-auth:/app
    restart: unless-stopped
    environment:
      UMBREL_AUTH_SECRET: DEADBEEF
      MANAGER_IP: 10.21.21.4
      MANAGER_PORT: 3006
      DASHBOARD_IP: 10.21.21.3
      DASHBOARD_PORT: 3004
      # docker exec auth env | grep JWT_SECRET
      JWT_SECRET: 6c7d5f239fd414af267ff7e5e25633493af8736515157d20fc2a273f8d73092c
    labels:
      traefik.enable: true
      traefik.http.routers.auth.rule: Host(`auth.tlsu.site`)
      traefik.http.routers.auth.entrypoints: websecure
      traefik.http.routers.auth.tls: true

  whoami:
    image: traefik/whoami
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.http.routers.whoami.rule: Host(`whoami.tlsu.site`)
      traefik.http.routers.whoami.entrypoints: websecure
      traefik.http.routers.whoami.tls: true

  frontend:
    image: nginx:alpine
    restart: unless-stopped
